body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.App{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 5px;
}